[submodule "opt/ananas-build-toolkit"]
	path = opt/ananas-build-toolkit
	url = git@github.com:constructions-incongrues/ananas-build-toolkit.git
[submodule "src/lib/vendor/symfony"]
	path = src/lib/vendor/symfony
	url = https://github.com/symfony/symfony1.git
[submodule "src/plugins/sfTwitterBootstrapPlugin"]
	path = src/plugins/sfTwitterBootstrapPlugin
	url = git@github.com:ARAMISAUTO/sfTwitterBootstrapPlugin.git
[submodule "src/plugins/sfDoctrineGuardPlugin"]
	path = src/plugins/sfDoctrineGuardPlugin
	url = https://github.com/ibolmo/sfDoctrineGuardPlugin.git
