/.vagrant

# configuration profiles
etc/next

# composer
vendor/*

# dist files
src/config/databases.yml
src/apps/frontend/config/app.yml
src/apps/frontend/config/error/error.html.php
src/web/.htaccess

# editors
*.swp
*~
*.bak

# symfony
src/cache/*
src/log/*
src/data/sql/schema.sql

# ananas build toolkit
etc/trivoallan
etc/bozoo
etc/prod

# releases
src/web/releases/*

# assets
*.mp3
/src/config/ProjectConfiguration.class.php
