/* HTML & BODY 
***************************************************************/

body
{
padding:0px;
font-family: "Arial", Helvetica, sans-serif;
}

html 
{
font-size:62.5%;
}

/* TYPO 
***************************************************************/

@font-face 
{
font-family: 'Blanch Caps';
src: url('../typo/blanch_caps.ttf');
}

@font-face 
{
font-family: 'Jockey One';
src: url('../typo/JockeyOne-Regular.ttf');
}

@font-face 
{
font-family: 'Tempesta';
src: url('../typo/pf_tempesta_seven.ttf');
}

/* TEMPLATE CONTENT 
***************************************************************/


.category_content,
.releases_discography_listing_all,
.artists_content,.header_content,
.header_news_1_content,
.header_news_2_content,
.header_news_2_closed,
.header_news_2_closed_button,
.open_releases_content,
.header_nav_3_content,
.infos_content,
.footer_content,
.release_content,
.open_release, 
.open_artists_content { 
width:960px;
margin-left: auto;
margin-right: auto;
} 


.triangle img {position: absolute;top:-4.4px;}

.artists h1,
.releases h1,
.category_infos h1
{
font-family: 'Jockey One', sans-serif;
font-weight:lighter;
background-repeat:repeat;
display:inline;
text-transform:uppercase;
font-size:27px;
font-size:2.7rem;
height:30px;
padding:5px 0px 10px 13px;
margin-top:10px;
margin-left:-5px;
background-image:url(../pics/pattern/pat-bg.png);
background-repeat:repeat;
background-color:#000;
color:#FFF;
}

/* CALQUES 
***************************************************************/

.header_calque
{
background-image:url("../pics/pattern/pat-header.png");
background-repeat: repeat;
width: 100%;
height:680px;
position:absolute;
}


.calque_releases, .calque_releases_2
{
position:absolute;
height:220px;
width:220px;
background-image:url("../pics/releases/img-release.png");
}

.calque_releases
{
top:0px;
}
.calque_artwork
{
position:absolute;
height:460px;
width:460px;
background-image:url("../pics/releases/img-release.png");
}
.calque_artists_pictures
{
position:absolute;
height:460px;
width:460px;
background-image:url("../pics/releases/img-release.png");
}

.calque_releases:hover, .calque_releases_2:hover
{
background-image:url("../pics/releases/img-release-hover.png");
}

.calque_artists 
{
position:absolute;
height:233px;
width:220px;
top:7px;
background-image:url("../pics/artists/img-artist.png");
}

.calque_artists:hover
{
background-image:url("../pics/artists/img-artist-hover.png");
}


/* HEADER 
***************************************************************/

.header 
{
background-image:url("../pics/bg_header/01.gif");
background-position: center center;
background-repeat: repeat;
width: 100%;
height:680px;
}



/** NAV-1
*****************************/

.header_title_dhr a 
{
color:#FFF;
text-decoration:none;
margin-bottom:-10px;
font-family: 'Blanch Caps', sans-serif;
margin-left:-12px;
}


/** NAV-2
*****************************/


.header_nav_2
{
top:12px;
}

.header_nav_2_icon li 
{
display:inline;
opacity:0.7;
 padding:0px;
margin:0px;
}

.header_nav_2_icon li:hover 
{
opacity:1;
}

.header_nav_2_button_lang 
{
background-color:#000;
}

.header_nav_2_button_lang_active a 
{
color:#FFF;
text-decoration:none;
padding:2px;
font-family: 'Tempesta', sans-serif;
font-size:8px;
font-size:0.8rem;
background-color:#000;
opacity:1;

}

.header_nav_2_button_lang a 
{
background-color:#000;
opacity:1;
color: #29ABE2;
text-decoration:none;
padding:2px;
font-family: 'Tempesta', sans-serif;
font-size:8px;
font-size:0.8rem;
}


/** NAV-3
*****************************/

.header_nav_3 
{
width:100%!important;
background-color:#000;
height:50px;
top:40px;
z-index:300;
position:absolute;}


.header_nav_3 ul 
{
background-color:#000;
margin-top:0px;
margin-left:-20px;
}


.header_nav_3 li
{
color:#29ABE2;
list-style-type:none;
display:inline;
margin:5px 5px 5px 5px;
font-family: 'Jockey One', sans-serif;
}


.header_nav_3 a 
{
color:#29ABE2;
text-decoration:none;
text-transform:uppercase;
font-size:28px;
font-size:2.8rem;
}

.header_nav_3 a:hover 
{
color:#FFF;
}

.header_nav_3_button_donate a
{
color:#ea1D78;
opacity:0.9;
}

.header_nav_3_button_donate a:hover  {opacity:1;color:#FFF;}


/** NEWS-CONTENT
*****************************/

.header_news_1_content,.header_news_2_content 
{
font-family: 'Jockey One', sans-serif;
text-align:right;
margin-top:112px;}

.header_news_1_content a,.header_news_2_content a  
{
 text-decoration:none;
}

.header_news_1_content h1 
{
margin-bottom:-20px;
margin-right:13px;
}

.header_news_1_content h1 a 
{
color:#FFF;
font-weight:lighter;
font-size:60px;
font-size:6rem;
}

.header_news_1_content h2 a 
{
color:#fced20;
font-weight:lighter;
font-size:48px;
font-size:4.8rem
}


.header_news_2
{
background-color:#000;
opacity:0.95;
padding:5px 0px 0px 0px;
margin-bottom:0px;
border-right:1px solid #28abe3; 
height:116px;}  

.header_news_2_nav
{
padding-bottom:5px;
float:right;
margin-top:-19px;
font-family: 'Tempesta', sans-serif;
}

.header_news_2_closed
{
 position:absolute;
 top:400px;
 border-left:1px solid #28ABE3;
 height:116px;

}
.header_news_2_closed_button
{
 background-color: rgb(41, 171, 226); /* alternative solide */
  background-color: rgba(41, 171, 226, 0.3);
   width:25px;
height:25px;
position:absolute;
margin-bottom:0px;
margin-top:10px;

}

.header_news_2_closed_button:hover
{
   background-color: rgb(41, 171, 226); 
}
.header_news_2_closed_button img
{
float:left;
}
.header_news_2_nav img 
{  opacity:0.5;}
.header_news_2_nav img:hover 
{
opacity:1;
}

.header_news_2_nav a 
{
padding:0px 2px 0px 2px;
font-family: 'Tempesta', sans-serif;

}

.header_news_2_title 
{    
font-family: 'Jockey One', sans-serif;
color:#FFF;
font-weight:lighter;
margin-left:20px;
text-transform:uppercase;
margin-bottom:5px;
font-size:17px;
font-size:1.7rem;
text-align:left;
}

.header_news_2_title a
{
color:#FFF;
}

.header_news_2_pictures
{
padding-bottom:0px;
top:-4px;
}

.header_news_2_pictures img 
{
margin:10px;
}

.header_news_2_descr p
{
color:#FFF;
margin:0px 10px 0px 10px;
padding:0px 10px 0px 10px;
font-size:12px;
font-size:1.2rem;
text-align:left;
font-family: arial, verdana, sans-serif; 
line-height:15px;

}

/* DISCOGS
***************************************************************/

.releases
  {
   background-color:transparent;
   margin-top:-41px!important;
   padding-bottom:2px;
 }

.releases_discography_number,.artists_show
{
font-weight:none;
margin:10px;
}

.releases_discography
{
background-image:url(../pics/pattern/pat-bg.png);
background-repeat:repeat;
background-color:#000;
padding:30px 0px 40px 0px;
top:-2px;
}


.releases_discography_number_default 
{
background-image:url(../pics/releases/img-release-default.png);
height:282px;
width:220px;
top:11px;
margin-left:10px;
}

.releases_discography_number
{
background-color:#FFF;
width:220px!important;
}


.releases_discography_number p 
{
margin:0px;padding:0px;
}

.releases_discography_number_first,.artists_show_first
{
margin-left:0px!important;
margin-right:10px;
}
.releases_discography_number h1 
{
padding:0px;
margin:0px 0px -6px -4px;
}

.releases_discography_last_release 
{
background-repeat:no-repeat;
height:16px;
width:68px;
position: absolute;
top:20px;
background-image:url(../pics/icon/nouveau.png);
font-family: 'Tempesta', sans-serif;
font-size:8px;
font-size:0.8rem;
color:#FFF;
text-transform:uppercase;
font-weight:lighter;
padding-left:8px;

}

.releases_discography_last_release a 
{
margin-top:1px;
}


.open_artists_listing_releases h1, 
.releases_discography_number h1
{ 
padding:0px 0px 0px 10px;
font-size:14px;
font-size:1.4rem;
}

.releases_discography_number h2,.open_artists_listing_releases h2 
{
padding:0px 0px 0px 10px;  
font-size:14px;
font-size:1.4rem;
margin-left:-4px;
}



.releases_discography_number h1 a,.open_artists_listing_releases h1 a
{
color:#29ABE2!important;
background-color: #FFF!important;
text-decoration:none;
text-transform:uppercase;
font-weight:normal;
font-family: 'Jockey One', sans-serif;
}

.releases_discography_number h2 a,.open_artists_listing_releases h2 a
{
color:#000!important;
text-decoration:none;
text-transform:uppercase;
margin-top:-5px;
font-weight:normal;
font-family: 'Jockey One', sans-serif;
background-color: #FFF!important;
}



ul.releases_discography_button 
{
margin-top:-20px;
margin-left:3px;
padding-bottom:0px;
margin-bottom:7px;
}

.releases_discography_button  li
{
display:inline;
padding:2px;
margin:0px;
font-size:10px;
font-size:1rem;
}

.releases_discography_button li a 
{
background-color:#000;
color:#29ABE2;
text-decoration:none;
padding:5px;
font-weight:normal;
text-transform:uppercase;
}

.releases_discography_button li a:hover 
{
color:#000;
background-color:#29ABE2;
}

/* ARTISTS
***************************************************************/
.artists
{
background-color:#000;
background-image:url(../pics/pattern/pat-bg.png);
background-repeat:repeat;
top:-14px;
}  

.artists h1
{
 background-color:#f2f2f2!important;
 color:#000!important;
}

.artists_listing_all {top:-14px;}
.artists_listing_all,.open_releases,.open_artists
{
background-image:url(../pics/pattern/pat-bg.png);
background-repeat:repeat;
background-color:#f2f2f2;
padding:30px 0px 100px 0px;
}


.open_releases,.open_artists
{
top:-2px;
border-top:10px solid #000;
background-color:#FFF;}

.artists_pictures
{
 border-radius:200px;
}

img.artists_pictures
{
height:220px;
width:220px;
}

.artists_title a
{
color:#29ABE2; 
text-transform:uppercase;
text-decoration:none; 
}

.artists_title 
{
position: absolute;
font-weight:lighter;
font-family: 'Jockey One', sans-serif;
top:113px;
font-size:19px;
font-size:1.9rem;
background-color:#000;
padding:3px 9px 3px 3px;  
display: block;
z-index:2000;
left:10px
}



.tags h1{
line-height:24px;
position:relative;
} 

.tags h1{
background-color:#FFF;
color:#000;
text-decoration:none;

} 
.tags h1:after{
content:"";
float:left;
position:absolute;
top:0;
width:0;
height:0;
border-color: transparent transparent  transparent #FFF ;
margin-left:5px;
border-style:solid;
border-width: 40px 40px 0px 40px ;    
} 


/* TO CLEAN
***************************************************************/


.artists_show_default 
{
background-image:url(../pics/artists/img-artist-default.png);
height:240px;
width:250px;
margin-left:10px;
margin-top:5px;
}


/* INFOS
***************************************************************/

.infos
{
background-image:url(../pics/pattern/pat-bg.png);
background-repeat:repeat;
background-color:#000;
padding:30px 0px 50px 0px;
top:-28px;
}


.infos_descr h1,
.infos_descr h2,
.infos_descr h3,
.infos_descr h4
{
color:#FFF;
font-family: 'Jockey One', sans-serif;
font-weight:normal;
text-transform:uppercase;
}

.infos_descr 
{

color:#b2b2b2;
text-align:left;
}

.infos_descr li 
{
list-style-type:none;
margin-left:0px;
}

.infos_descr a
{
color:#29ABE2;
text-decoration:none;
opacity:0.7;
}
.infos_descr a:hover 
{opacity:1;color:#29ABE2;}
.infos_vids
{
margin-left:20px;
width:276px;
}



/* BUTTON TOP - ANCRE
***************************************************************/

.artist_button_top 
{
background-image:url(../pics/pattern/pat-bg.png);
background-repeat:repeat;
background-color:#F2F2F2; 
position:relative;
float:right;
padding:2px 3px 2px 2px ; 
margin-top:20px;
}

.infos_button_top 
{

background-image:url(../pics/pattern/pat-bg.png);
background-repeat:repeat;
background-color:#000; 
position:relative;
float:right;
padding:2px 3px 2px 2px ;
margin-top:20px;
}


.footer_button_top
{
position:relative;
float:right;
padding:2px 3px 2px 2px ;
margin-top:-48px;
background-image:url(../pics/pattern/pat-foot.png);
background-repeat:repeat;
background-color:#000;
}


/* FOOTER
***************************************************************/

.footer
{
background-image:url(../pics/pattern/pat-foot.png);
background-repeat:repeat;
background-color:#000;
padding:30px 0px 100px 0px;
top:-28px;
}

.footer_content p  {color:#FFF;}

.footer_content h1, .footer_content h2 
{
font-weight:normal;
text-transform:uppercase;
font-family: 'Jockey One', sans-serif;
} 

.footer_content h1 
{
color:#FFF;
background-image:url(../pics/pattern/pat-bg.png);
background-repeat:repeat;
display:inline;
padding:2px 4px 2px 4px;
margin-left:-2px;
font-size:20px;
font-size:2rem;
}

.footer_content h2
{
color:#FFF;
font-size:15px;
font-size:1.5rem;
opacity:0.7;
margin:10px 0px 10px 0px;
} 

.footer_links_1 ul, li, .footer_links_2 ul, li 
{
list-style-type:none;
}

.footer_links_1 li, .footer_links_2 li 
{
margin:5px 0px 5px -10px;
padding-left:10px;

}
.footer_links_1 li a, .footer_links_2 li a 
{
color:#29ABE2;
padding:2px 2px 0px 2px;
text-decoration:none;
opacity:0.7;
}

.footer_links_1 li a:hover, .footer_links_2 li a:hover
{color:#29ABE2;opacity:1;}
.footer p 
{
color:#b2b2b2;
}

.footer_content p a 
{
color:#29ABE2;
text-decoration:none;
opacity:0.7;
}

.footer_content p a:hover 
{
opacity:1;
}
.footer_links_2
{
margin-top:30px;
}
.footer_nav_1 li 
{
display:inline;
padding:0px;
margin:0px;

}

.footer_nav_1 li:hover {opacity:1;}

ul.footer_nav_1 
{
margin:8px 0px 20px 0px;
opacity:0.6;
padding:2px;
float:right;
}


.footer_content textarea  
{
margin-top:-10px;
width:460px;}

.footer_content input,.footer_content textarea  
{
border:0px;

 background-color: rgb(41, 171, 226); /* alternative solide */
  background-color: rgba(41, 171, 226, 0.3); }


.footer_content input.valid 
{
background-color:#000;
   text-transform:uppercase;
color:#28ABE3;
background-image:none;
background-repeat:repeat;
float:right;
margin-top:-10px;
font-size:10px;
font-size:1rem;
padding: 6px 5px 5px 5px;
}

.footer_content input.valid:hover
{
background-color:#29ABE2!important;
opacity:1;
color:#000;
cursor:pointer!important;
}
.footer_content input:focus,.footer_content textarea:focus
{
background-color:#29ABE2;
opacity:1;
border:none}

/* OPEN RELEASES
***************************************************************/

.open_releases_infos
{
margin-top:-13px;
margin-left:-21px;
}

.open_releases_infos hr
{
margin-left:10px;
width:481px;
}
.open_releases_infos h2
{
margin-left:10px;
}
.open_releases_content,.open_artists_content 
{
padding-top:20px;
}

h1.open_releases_catalog , h2.open_releases_artist, h3.open_releases_album, h3.open_releases_title , h1.open_releases_title, h2.open_releases_title, h1.open_artists_name, h2.open_artists_title, .open_releases_share_button
{
font-weight:normal;
text-transform:uppercase;
font-family: 'Jockey One', sans-serif;

}


h1.open_releases_title, h2.open_releases_title, h3.open_releases_title, h2.open_artists_title
{
font-size:16px;
font-size:1.6rem;
margin-left:10px;
}

h1.open_releases_title
{
margin-top:10px;
margin-left:10px;
}
h2.open_releases_title
{
margin-top:10px;
}

h3.open_releases_title 
{
margin-top:28px;
}
h1.open_releases_catalog, h3.open_releases_album, h3.open_releases_title,.open_releases_buy,   ul.open_releases_download, .open_releases_share_button
{
  margin-left:10px;

}
h1.open_releases_catalog
{
color: #29abe2;
font-size:14px;
font-size:1.4rem;
margin-top:10px;
}

h2.open_releases_artist
{
font-size:33px;
font-size:3.3rem;
color:#b2b2b2;
margin-top:-30px;
}

h2.open_releases_artist a
{
color:#000;
text-decoration:none;
text-decoration:none;
}

h2.open_releases_artist a:hover 
{
color:#29ABE2;
}

h3.open_releases_album
{

color:#b2b2b2;
font-size:33px;
font-size:3.3rem;
margin-top:-36px;
}


.open_releases_playlist li a
{
background-color: #e6e6e6;
width:450px;
display: block;
margin:3px 0px 0px -30px;
padding:2px 2px 2px 5px;
}

.open_releases_playlist a:hover 
{
color:#FFF;
text-decoration:none;
background-color:#1a1a1a;
}

.open_releases_playlist_icon_play 
{
margin-top:-3px;
margin-right:5px;
}

.open_releases_playlist_icon_play:hover 
{
background-image:url("../pics/icon/play-hover.png");
}

.open_releases_artwork
{
margin-right:30px;
}


.open_artists_listing_releases h2, 
{
margin-top:-25px!important;
margin-left:-4px;

}



ul.open_releases_playlist
{
margin: 0.75em 0;
padding: 0 1em;
list-style: none;
}


.open_releases li a 
{
text-decoration:none;
color:#000;
}

.open_releases_playlist_button
{
border-color: transparent #111;
border-style: solid;
border-width: 0.35em 0 0.35em 0.45em;
display: block;
height: 0;
width: 0;
left: -1em;
}

.open_releases_press_text,.open_artists_bio
{
color:#666;
  margin-left:10px;

margin-top:-10px; 
padding-bottom:0px;
line-height:17px;
}

ul.open_releases_button, ul.open_artists_button
{
margin-top:-40px;
margin-bottom:0px;
text-align:right;}

.open_releases_button li, .open_artists_button li 
{

  background-color:transparent;
  list-style-type:none;
  display:inline;
  padding:0px;
  margin: 0px 2px 0px 2px;

}

.open_releases_button_left, .open_releases_button_right , .open_releases_button_close
{
  background-repeat:no-repeat;
  max-width:35px;
  max-height:35px;
  color:transparent;
  font-size:40px;
}

.open_releases_button_left 
{
  background-image:url("../pics/button/release_retour.png");

}

.open_releases_button_left:hover
{
  background-image:url("../pics/button/release_retour-hover.png");
}

.open_releases_button_right
{
  background-image:url("../pics/button/release_suivant.png");

}

.open_releases_button_right:hover
{
  background-image:url("../pics/button/release_suivant_hover.png");
}

.open_releases_button_close
{
  background-image:url("../pics/button/release_close.png");

}

.open_releases_button_close:hover
{
  background-image:url("../pics/button/release_close-hover.png");
}

.open_releases_button_left a,.open_releases_button_right a, .open_releases_button_close a
{
  color:transparent!important;
}
.open_releases_buy 
{
  background-color:#1a1a1a;
  color:#FFF;
  font-weight:bold;
  padding:5px;
  min-height:20px;
  margin-top:-12px;
  font-size:12px;
  font-size:1.2rem;
  width:471px;
}

.open_releases_buy:hover
{
  background-color: #29ABE2;
}
.open_releases_buy img 
{
  padding:0px 2px 0px 2px;
}

.open_releases_price 
{
  float:left;
  margin-top:1px;
}
.open_releases_market 
{
  float:right;
}

.open_releases_buy a 
{
  color:#FFF;
  text-decoration:none; 
}


ul.open_releases_download
{
  margin:-10px 0px 10px 2px;
}

.open_releases_download li 
{
  display:inline;
  padding:5px;
  font-size:10px;
  font-size:1em;
  font-family: arial, verdana, sans-serif; 
  margin:2px; }

  .open_releases_download a 
  {
    background-color:#e6e6e6;
    padding:5px;


  }
  .open_releases_download a:hover 
  {
    background-color:#000;
    color:#FFF; 
    padding:5px;
  }



  ul.open_releases_share_button
  {
    margin-bottom:-20px;
  }
  .open_releases_share_button li 
  {
    display: inline;
    margin:2px 2px 2px 2px;
    font-size:14px;
    font-size:1.4rem;
    color:#000;
    font-weight:bold;
    text-transform:uppercase;
    font-family: 'Jockey One', sans-serif;

  }

  .open_releases_share_button img 
  {
    margin-top:-6px;
    opacity:0.6;
  }

  .open_releases_share_button img:hover 
  {
    opacity:1;
  }

ul.open_releases_nav_artwork
{
text-align:center;}

.open_releases_nav_artwork li
{
  display:inline;
  margin:2px;
  padding:0px;
}


/* OPEN ARTISTS
***************************************************************/

.open_artists_infos
{
margin-left:-20px;
}

h1.open_artists_name
{
color:#000;
font-size:25px;
font-size:2.5em;
margin-left:10px;
}

.open_artists_pictures
{
margin-right:30px;

}

.open_artists_pictures img
{
height:460px;
 width:460px;

}


.open_artists_listing_releases
{
width:220px;
background-color:#FFF;
padding-bottom:0px;
margin:10px 10px 10px 10px;  
float:left!important;
}

.open_artists_listing_releases img 
{margin-top:-20px;}
.open_artists_listing_releases h2 
{
margin-top:-25px;
}
.open_artists_linked ul
{
margin:-10px 0px 10px 0px;
padding-bottom:5px;
}
.open_artists_linked li 
{
margin:10px;

}
.open_artists_linked ul a 
{
background-color:#e6e6e6;
padding:5px;
color:#333;
text-decoration:none;}

.open_artists_linked ul a:hover
{
background-color:#000;
color:#FFF;
}
  /* A TRIER */


 .category_infos  
  {
   background-color:transparent;
   margin-top:-70px!important;
   padding-bottom:12px;
 }


.releases h1,
.category_infos h1
{
 background-color:#000;
 color:#FFF;
}



.artists_show
{
 min-height:230px;
}

