body {
	background-color: #000;
	color:#FFF;
	background-image:url(../pics/radio/flyer_8_may.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: auto;
}

p, li {color:#b2b2b2;font-size:1.5em!important}
p a {
	font-size:1em!important;
	}

a {color:#0099FF!important;}

background-image