
.header_news_1_content,.header_news_2_content 
{
font-family: 'Jockey One', sans-serif;
text-align:right;
margin-top:112px;}

.header_news_1_content a,.header_news_2_content a  
{
 text-decoration:none;
}

.header_news_1_content h1 
{
margin-bottom:-20px;
}


.header_news_1_content h1 a 
{
color:#fff;
font-weight:lighter;
font-size:3.8px;
font-size:38rem;
opacity:0.9;}

.header_news_1_content h2 a 
{
color:#000;
font-weight:lighter;
font-size:32px;
font-size:3.2rem;
opacity:0.9;}

.header_news_1_content h2 
{
margin-right:10px;
}